section.gap {
    height: 250px;
    position: relative;
    width: 100%;
}

section.a {
    width: 100%;
    height: 3750px;
    position: absolute;
}

.b {
    width: 1000px;
    height: 200px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    right: 200px;
    top: 900px;
}

.c {
    width: 1000px;
    height: 600px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    right: 100px;
    top: 000px;
}

.d {
    width: 1000px;
    height: 300px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    right: 250px;
    top: 400px;
}

.e {
    width: 1400px;
    height: 350px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    right: 350px;
    top: 1350px;
}

.f {
    width: 400px;
    height: 300px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    right: 100px;
    top: 1250px;
}
.g {
    width: 400px;
    height: 600px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    right: 550px;
    top: 2100px;
}


div.h {
    height: 500px;
    font-size: 220px;
    display: flex;
    justify-content: center;
    color: white;
}

.one-innovation-text {
    position: absolute;
    z-index: 4;
    -webkit-filter: drop-shadow(10px 20px 20px rgba(0, 0, 0, 0.40));
}

.two-innovation-text {
    position: absolute;
    color: transparent;
    z-index: 6;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: white;
